@import "tailwindcss";
@import "tw-animate-css";

html {
  font-size: 100%;
  scroll-behavior: smooth;
}
body {
  background-color: #0d0d0d;
  overflow-x: hidden;
  /* padding-left: 6px;
    padding-right: 6px; */
}
