@import "tailwindcss";
@import "tw-animate-css";



html {
    font-size: 85%;
    scroll-behavior: smooth;
}
body {
    background-color: #000000;
    overflow-x: hidden ;
    /* padding-left: 6px;
    padding-right: 6px; */
   
}



