@import "tailwindcss";
@import "tw-animate-css";


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
    background-color: #0d0d0d;
    overflow-x: hidden;
}

